Source: ofono-toned
Maintainer: Bardia Moshiri <bardia@furilabs.comm>
Section: misc
Priority: optional
Build-Depends: debhelper-compat (= 13),
               gcc,
               pkg-config,
               libglib2.0-dev,
Standards-Version: 4.7.2
Vcs-Browser: https://github.com/furilabs/ofono-toned
Vcs-Git: https://github.com/furilabs/ofono-toned.git

Package: ofono-toned
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
         tone-generator,
Description: oFono ringback tone generator
